<div class="layout">
  <section class="card neumorphism-card-big">
    <h1 class="title">Documentation</h1>
      <p class="description">
        I included some of the documentation that I've written for various subjects in Cybersecurity and Computer Science more broadly.
	<br><br>
        Scroll through the tree on the left of the screen and click a node for more information on that topic.
	<br><br>
	A couple nodes (e.g. DBMS) exist only for categorization and are empty, but most contain:
      </p>

      <div class="card neumorphism-card">
        <ul class="description">
	  <li>Background information</li>
	  <li>Code examples</li>
	  <li>Links to external websites for further reading</li>
	  <li>Tips and tricks</li>
	  <li>etc.</li>
	</ul>
      </div>

      <div class="card neumorphism-card">
        <h2 class="subtitle">Reference Guide</h2>
          <p class="description">
	    My notes contain references to page numbers in my notebooks, such as [Windows 20].
	    <br><br>
	    You will also find links to absolute file paths on my system. Those files weren't uploaded, so these links won't work for you.
	  </p>
      </div>
  </section>
</div>
