<div class="layout">
  <section class="card neumorphism-card-big">
    <h1 class="title">Documentation</h1>
      <p class="description">
        I included some of my notes for various subjects in cybersecurity and computer science more broadly.
	<br><br>
        Scroll through the tree on the left of the screen and click a node for more information on that topic.
	<br><br>
	Most nodes contain:
      </p>

      <div class="card neumorphism-card">
        <ul class="description">
	  <li>Background information</li>
	  <li>Code examples</li>
	  <li>Links to external websites for further reading</li>
	  <li>Tips and tricks</li>
	</ul>
      </div>
  </section>
</div>
