{% if site.show_projects %}
  <h1 class="title"><span>{{site.projects_title}}</span></h1>
  <div class="projects-wrapper">
    {% for project in site.data.projects %}
      <div class="project neumorphism-card" data-aos="zoom-in-down">
        <div class="name-link-wrapper">
          <h3>{{project.name}}</h3>
        </div>

          {% if project.name == "Operation 418 (Hackathon)" %}
            <div class="image-container">
	      <img class="responsive-img" src="/assets/img/hackathon_418.jpg" alt="1st Place Award">
	    </div>
	  {% endif %}

	  {% if project.name == "National Cyber League (Hackathon)" %}
            <div class="image-container">
	      <img class="responsive-img" src="/assets/img/ncl_individual_Game_CyberSkyline_2026.png" alt="Individual Game">
              <img class="responsive-img" src="/assets/img/ncl_team_game_2026.png" alt="Team Game">
	    </div>
	  {% endif %}

          {% if project.name == "Freelance Pentesting" %}
            <div class="image-container">
	      <img class="responsive-img" src="/assets/img/preview_Pentest_Report.png" alt="Pentest Report Preview">
	    </div>
	  {% endif %}

        <p class="project-desc">{{project.descr}}</p>
        {% if project.demo %}
          <a class="highlight-link" href="{{project.demo}}" target="_blank" rel="noreferrer">
            Demo
          </a>
        {% endif %}
        {% if project.tags %}
          <div class="tag-wrapper">
            {% for tag in project.tags %}
              <span class="tag neumorphism-card">{{tag.tag}}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}

